#product-list{
    background-color:white;
    padding:10px;
}

#product-list h4 {
    color: dimgray;
}


#product-list ul li ul a {
    padding-left: 20px;
    text-decoration: none;
    color: dimgray;
}

#product-list ul li ul .selected a {
    text-decoration: none;
    color: #ff944d;
    font-weight: 700;
}


    #product-list ul li ul a:hover {
        color: #e65c00;
    }

#product-list>ul>li>a{
    text-decoration:none;
    color:darkorange;
    font-weight:bold;
}

    #product-list > ul > li > a:hover {
        color: dimgray;
    }

#page-title{
    border-top:solid 2px darkorange;
    border-bottom:solid 2px darkorange;
    padding:10px 0px;
}

#page-title h2{
    font-size:25px;
    font-weight:bold;
}

.box{
    border:solid 1px darkorange;
    padding:10px;
}

.varieties button {
    background-color: #ff944d;
    border: none;
}

    .varieties button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.titlos{
    margin-top:10px;
}


.titlos a {
    text-decoration: none;
    color: #fdb57e;
    padding: 5px;
    background-color: dimgray;
}

    .titlos a:hover {
        color: dimgray;
        background-color: #fdb57e;
    }

    .picture {
        border: solid 1px #fdb57e;
    }

.reviews{
    margin-top:20px;
}


.reviews i {
    color: #ff944d;
}

.reviews a {
    text-decoration: none;
    color: dimgray;
    margin-left: 10px;
    font-weight: bold;
}

    .reviews a:hover {
        color: darkorange;
    }

.box a{
    text-decoration: none;
    color: darkorange;
}


.timi{
    font-weight:600;
    color:red;
}

#demo, #demo1, #demo2, #demo3, #demo4, #demo5, #demo6 {
    margin-top: 15px;
}

#pre-footer{
    margin-top:50px;
    background-color:white;
    text-align:center;
}

#pre-footer h4{
    color:darkorange;
}

    #pre-footer h3 {
        color: #ff6600;
    }

#pre-footer span{
    font-weight:bold;
}

table th {
    background-color: lightgray;
    text-align: center;
   
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #fdb57e;
}

tr,td, th {
    border: 1px solid dimgray;
    text-align: center;
    padding: 8px;
}


th {
    width: 200px;
}

#table1 th, #table1 tr {
    width: 100px;
}

td a{
    text-decoration:none;
    color:black;
    font-weight:700;
    opacity:0.8;
}

    td a:hover {
        text-decoration: none;
        color: black;
        opacity: 1;
    }

#burger{
    background-color: #fdb57e;
}

.coupon {
    padding: 15px;
}

.coupon h5 {
    font-weight: bold;
    font-size: 20px;
}

.subtotal {
    font-weight: bold;
    font-size: 17px;
    border-bottom: solid 1px lightgray;
    padding: 15px;
    box-sizing: border-box;
}

#code label {
    color: dimgray;
    font-weight: bold;
}

#code input[type=text] {
    width: 250px;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    padding: 15px;
}

    #code input[type=text]:focus {
        border-radius: 10px;
        border: 2px solid darkorange;
    }

#code input[type=submit] {
    width: 100px;
    height: 40px;
    background-color: dimgray;
    color: darkorange;
    border-radius: 10px;
}

    #code input[type=submit]:hover {
        background-color: darkorange;
        color: white;
        border:none;
    }

#total {
    background-color: dimgray;
    color:white;
    padding:15px;
    margin-top:10px;
    border-radius:5px;
}

    #total span {
        font-weight: bold;
        font-size: 20px;
    }

    #total-price {
        font-weight: bold;
        font-size: 20px;
    }

#back, #checkout2 {
    padding: 15px;
    margin-top: 5px;
}


    #back a {
        text-decoration: none;
        color: darkorange;
        font-weight: bold;
        opacity: 0.8;
    }

    #back a:hover {
        opacity: 1;
    }

#checkout2 {
    background-color: dimgray;
    border-radius: 5px;
}

    #checkout2 a {
        text-decoration: none;
        color: darkorange;
    }


    #checkout2 a:hover {
        color: white;
    }

    #delete{
        width:5px;
    }